h2 {
    font-style: oblique;
    color: brown;
    text-align: center;
    text-decoration: dotted;
    
}


h1 {
    color: rgb(10, 10, 134);
    text-decoration: dashed;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.5);
    text-align: center;

}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
img {
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.5);
    filter: saturate();
    
}
    

div p {
    color: rgb(6, 86, 87);
    font-size: 20px;
}
nav ul a {
    color: brown;
    margin-left: 20%;
    margin-right: auto;
    display: inline-block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px;
    text-decoration: underline;
}
 nav {
    background-color: rgb(120, 164, 165);
 }








       
